In [1]:
import pandas as pd
# import sklearn
# from sklearn.feature_selection import RFE
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# # from sklearn.linear_model import Ridge
# from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder
# # from sklearn.linear_model import LinearRegression

# import tensorflow as tf
# import numpy as np
# from sklearn.metrics import mean_squared_error as mse
# from sklearn.model_selection import train_test_split
# from sklearn.utils import resample
# from sklearn.metrics import mean_squared_log_error


# import matplotlib

In [2]:
holiday_events_df = pd.read_csv("../raw_data/holidays_events.csv")
oil_df = pd.read_csv("../raw_data/oil.csv")
#sample_submission_df = pd.read_csv("../raw_data/sample_submission.csv")
#stores_df = pd.read_csv("../raw_data/stores.csv")
test_df = pd.read_csv("../raw_data/test.csv")
train_df = pd.read_csv("../raw_data/train.csv")
#transactions_df = pd.read_csv("../raw_data/transactions.csv")

In [3]:
train_df['date']=pd.to_datetime(train_df['date'])
test_df['date']=pd.to_datetime(test_df['date'])
#transactions_df['date']=pd.to_datetime(transactions_df['date'])
holiday_events_df['date']=pd.to_datetime(holiday_events_df['date'])
oil_df['date']=pd.to_datetime(oil_df['date'])

In [4]:
holiday_events_df.drop(columns=['description', 'transferred'], inplace=True)

In [5]:
oil_df.rename(columns={'dcoilwtico': 'oil_price'}, inplace=True)
oil_df.dropna(subset=['oil_price'], inplace=True)

In [6]:
holiday_oil_df = pd.merge(holiday_events_df, oil_df, on='date')

In [7]:
train_df.drop(columns=['id'],inplace=True)
test_df.drop(columns=['id'],inplace=True)

In [8]:
train_joined = pd.merge(train_df, holiday_oil_df[['date','type','locale','locale_name','oil_price']].groupby('date').agg({'type':' '.join, 'locale':' '.join, 'locale_name':' '.join, 'oil_price':'mean'}), 
                      left_on=['date'], right_on=['date'], how='left')
train_joined['oil_price'].fillna(train_joined['oil_price'].mean(), inplace=True)

In [9]:
train_joined

,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,oil_price
0,2013-01-01,1,AUTOMOTIVE,0.000,0,NaN,NaN,NaN,64.497892
1,2013-01-01,1,BABY CARE,0.000,0,NaN,NaN,NaN,64.497892
2,2013-01-01,1,BEAUTY,0.000,0,NaN,NaN,NaN,64.497892
3,2013-01-01,1,BEVERAGES,0.000,0,NaN,NaN,NaN,64.497892
4,2013-01-01,1,BOOKS,0.000,0,NaN,NaN,NaN,64.497892
...,...,...,...,...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0,Holiday,Local,Riobamba,47.570000
3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Holiday,Local,Riobamba,47.570000
3000885,2017-08-15,9,PRODUCE,2419.729,148,Holiday,Local,Riobamba,47.570000
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Holiday,Local,Riobamba,47.570000
3000887,2017-08-15,9,SEAFOOD,16.000,0,Holiday,Local,Riobamba,47.570000

In [10]:
test_joined = pd.merge(test_df, holiday_oil_df[['date','type','locale','locale_name','oil_price']].groupby('date').agg({'type':' '.join, 'locale':' '.join, 'locale_name':' '.join, 'oil_price':'mean'}), 
                      left_on=['date'], right_on=['date'], how='left')
test_joined['oil_price'].fillna(train_joined['oil_price'].mean(), inplace=True)

In [11]:
test_joined

,date,store_nbr,family,onpromotion,type,locale,locale_name,oil_price
0,2017-08-16,1,AUTOMOTIVE,0,NaN,NaN,NaN,64.497892
1,2017-08-16,1,BABY CARE,0,NaN,NaN,NaN,64.497892
2,2017-08-16,1,BEAUTY,2,NaN,NaN,NaN,64.497892
3,2017-08-16,1,BEVERAGES,20,NaN,NaN,NaN,64.497892
4,2017-08-16,1,BOOKS,0,NaN,NaN,NaN,64.497892
...,...,...,...,...,...,...,...,...
28507,2017-08-31,9,POULTRY,1,NaN,NaN,NaN,64.497892
28508,2017-08-31,9,PREPARED FOODS,0,NaN,NaN,NaN,64.497892
28509,2017-08-31,9,PRODUCE,1,NaN,NaN,NaN,64.497892
28510,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,NaN,NaN,NaN,64.497892
28511,2017-08-31,9,SEAFOOD,0,NaN,NaN,NaN,64.497892

## Group by date

In [12]:

def get_mode(series):
    mode_val = series.mode().values[0] if not series.isnull().all() else series.mode().values[0] if not series.dropna().empty else None
    return mode_val
# Group by 'date' and apply the 'get_mode()' function to each column
train_by_date = train_joined.groupby('date').agg({'type': get_mode, 'locale': get_mode, 'locale_name': get_mode, 
                                                   'onpromotion': 'sum', 'oil_price': 'mean', 'sales': 'sum'})
train_by_date.columns = ['type', 'locale', 'locale_name', 'onpromotion', 'oil_price', 'sales']
train_by_date.reset_index(inplace=True)

In [13]:
train_by_date

,date,type,locale,locale_name,onpromotion,oil_price,sales
0,2013-01-01,None,None,None,0,64.497892,2511.618999
1,2013-01-02,None,None,None,0,64.497892,496092.417944
2,2013-01-03,None,None,None,0,64.497892,361461.231124
3,2013-01-04,None,None,None,0,64.497892,354459.677093
4,2013-01-05,None,None,None,0,64.497892,477350.121229
...,...,...,...,...,...,...,...
1679,2017-08-11,Transfer,National,Ecuador,14179,48.810000,826373.722022
1680,2017-08-12,None,None,None,8312,64.497892,792630.535079
1681,2017-08-13,None,None,None,9283,64.497892,865639.677471
1682,2017-08-14,None,None,None,8043,64.497892,760922.406081
1683,2017-08-15,Holiday,Local,Riobamba,10605,47.570000,762661.935939

In [14]:
# Group by 'date' and apply the 'get_mode()' function to each column
test_by_date = test_joined.groupby('date').agg({'type': get_mode, 'locale': get_mode, 
                                                'locale_name': get_mode, 'onpromotion': 'sum', 
                                                'oil_price': get_mode})
test_by_date.columns = ['type', 'locale', 'locale_name', 'onpromotion', 'oil_price']
test_by_date.reset_index(inplace=True)

In [15]:
test_by_date

         date     type locale locale_name  onpromotion  oil_price
0  2017-08-16     None   None        None        30539  64.497892
1  2017-08-17     None   None        None         7505  64.497892
2  2017-08-18     None   None        None        13777  64.497892
3  2017-08-19     None   None        None         8614  64.497892
4  2017-08-20     None   None        None         9513  64.497892
5  2017-08-21     None   None        None         8100  64.497892
6  2017-08-22     None   None        None        10295  64.497892
7  2017-08-23     None   None        None        16500  64.497892
8  2017-08-24  Holiday  Local      Ambato         8268  47.240000
9  2017-08-25     None   None        None        13991  64.497892
10 2017-08-26     None   None        None         9061  64.497892
11 2017-08-27     None   None        None        10297  64.497892
12 2017-08-28     None   None        None         8489  64.497892
13 2017-08-29     None   None        None        10876  64.497892
14 2017-08-30     None   None        None        21491  64.497892
15 2017-08-31     None   None        None        11281  64.497892

## Group by store_nbr

In [16]:
# for train data: group by 'store_nbr' and apply the 'get_mode()' function to each column
train_by_store = train_joined.groupby('store_nbr').agg({'sales': 'sum', 'onpromotion': 'sum'})
train_by_store.columns = ['onpromotion', 'sales']
train_by_store.reset_index(inplace=True)

In [17]:
train_by_store

    store_nbr   onpromotion   sales
0           1  1.414501e+07  138020
1           2  2.155739e+07  158149
2           3  5.048191e+07  177075
3           4  1.890970e+07  151932
4           5  1.559240e+07  149370
5           6  2.518368e+07  169761
6           7  2.695205e+07  153875
7           8  3.049429e+07  169671
8           9  2.640944e+07  177356
9          10  9.613906e+06  103223
10         11  2.832556e+07  173787
11         12  1.065922e+07  117657
12         13  1.052305e+07  103858
13         14  1.138792e+07  113036
14         15  1.145127e+07  120308
15         16  1.098641e+07  114197
16         17  1.803097e+07  136778
17         18  1.325938e+07  134087
18         19  1.304951e+07  111634
19         20  1.292095e+07  157358
20         21  9.255506e+06  144062
21         22  4.090202e+06   99543
22         23  1.165138e+07  128989
23         24  2.376773e+07  156253
24         25  1.142100e+07  113542
25         26  7.755122e+06  111498
26         27  1.918802e+07  153180
27         28  1.838315e+07  165200
28         29  9.725158e+06  153632
29         30  7.382074e+06  103096
30         31  1.774687e+07  150972
31         32  5.951796e+06   89932
32         33  1.417850e+07  136113
33         34  1.709073e+07  150651
34         35  7.676679e+06  110104
35         36  1.532243e+07  158527
36         37  1.997064e+07  151099
37         38  1.886000e+07  147223
38         39  2.025219e+07  173560
39         40  1.839576e+07  140054
40         41  1.499104e+07  141329
41         42  8.945768e+06  124670
42         43  1.639169e+07  124340
43         44  6.208755e+07  192449
44         45  5.449801e+07  191503
45         46  4.189606e+07  190697
46         47  5.094831e+07  192725
47         48  3.593313e+07  185566
48         49  4.342010e+07  184736
49         50  2.865302e+07  174115
50         51  3.291149e+07  162576
51         52  2.696170e+06   30814
52         53  1.121617e+07  204016
53         54  1.105748e+07  142724

In [18]:
# For test data, group by 'date' and apply the 'get_mode()' function to each column
test_by_store = test_joined.groupby('store_nbr').agg({'onpromotion': 'sum'})
test_by_store.columns = ['onpromotion']
test_by_store.reset_index(inplace=True)

In [19]:
test_by_store

    store_nbr  onpromotion
0           1         3142
1           2         3599
2           3         3995
3           4         3391
4           5         3253
5           6         3704
6           7         3475
7           8         3487
8           9         4396
9          10         3976
10         11         4329
11         12         3220
12         13         2928
13         14         3107
14         15         3554
15         16         4059
16         17         3680
17         18         4176
18         19         3137
19         20         4221
20         21         4028
21         22         3254
22         23         3042
23         24         3349
24         25         2923
25         26         2422
26         27         3521
27         28         4126
28         29         4167
29         30         2962
30         31         3902
31         32         2623
32         33         4768
33         34         3742
34         35         2886
35         36         5366
36         37         3435
37         38         3449
38         39         4247
39         40         3608
40         41         3297
41         42         3221
42         43         3850
43         44         4600
44         45         4510
45         46         4333
46         47         4426
47         48         4111
48         49         4309
49         50         3882
50         51         3565
51         52         3761
52         53         3074
53         54         3009